
    @color-project:             #ff6666;
    @color-text-fg:             @color-white;
    @color-shadow:              @color-black;

    @color-white:               #ffffff;
    @color-grey:                #7f7f7f;
    @color-grey-translucent:    rgba( 127, 127, 127, 0.35 );
    @color-black:               #000000;
    @color-transparent:         transparent;
