
    @import "../value/color.less";
    @import "../value/dimension.less";

    /*******************************************************************************************************************
    *   Import Ant Design css framework and override required less variables.
    *******************************************************************************************************************/
    @import "../../../node_modules/antd/dist/antd.less";

    @primary-color:            @color-project;
    @disabled-color:           @color-grey;
    @text-color:               @color-white;
    @progress-remaining-color: @color-white;
    @border-color-split:       @color-grey;
    @finish-tail-color:        @color-grey;

    @screen-xs:                 0;
    @screen-sm:                 0;
    @screen-md:                 768px;
    @screen-lg:                 992px;
    @screen-xl:                 1200px;
    @screen-xxl:                1600px;

    /*******************************************************************************************************************
    *   Override specific Ant Design css attributes not procurable by less variables.
    *******************************************************************************************************************/

    .ant-divider
    {
        margin:                 @default-margin 0 @default-margin 0;
    }

    .ant-steps-item-icon
    {
        margin-right:       0;
    }

    .ant-carousel .slick-slide
    {
        height:             160px;
        background:         #000000;
        width:              100%;
        text-align:         center;
/*
        overflow:           hidden;
*/
    }

    .ant-carousel .slick-slide h3
    {
        color:              #ffffff;
    }
