
    @import "../value/color.less";
    @import "../value/dimension.less";

    @import "../../../node_modules/antd/dist/antd.less";
    @primary-color: @color-project;

    .ant-carousel .slick-slide
    {
        height:             160px;
        background:         #000000;
        width:              100%;
/*
        line-height:        160px;
        text-align:         center;
        overflow:           hidden;
*/
    }

    .ant-carousel .slick-slide h3
    {
        color:              #ffffff;
    }

    // TODO implicit import for margin values!

    .ant-divider
    {
        background:         @color-grey;
        margin:             @default-margin 0 @default-margin 0;
    }

    .ant-steps-item-icon
    {
        margin-right:       0;
    }

    .ant-steps-item.ant-steps-item-wait div.ant-steps-item-icon > span
    {
        color:              @color-grey;
    }

    .ant-steps-item-content .ant-steps-item-title:after
    {
        background-color:   @color-grey !important;
    }

    .ant-switch
    {
        background-color:   @color-grey;
    }

    .ant-switch.ant-switch-checked
    {
        background-color:   @primary-color;
    }

    .ant-progress-text
    {
        color:              @color-white !important;
    }
