
    @import "../value/color.less";
    @import "../value/dimension.less";

    div.sitePanel.outerAbsoluteContainer
    {
        position:           absolute;
        border-radius:      10px;
        border:             1px solid @color-grey;
        background:         rgba( 0, 0, 0, 0.75 );
    }

    div.sitePanel.innerRelativeContainer
    {
        position:           relative;
        text-align:         left;
    }

    h1.sitePanel.defaultHeadline
    {
        width:              100%;
        text-align:         center;
        color:              #ffffff;
        padding:            0;
        margin:             0;
    }

    div.sitePanel.defaultImageContainer
    {
        padding:            0;
        margin:             0;
    }

    p.sitePanel.defaultParagraph
    {
        padding:            0;
        margin:             0;
        color:              #ffffff;
        text-align:         justify;
    }

    img.sitePanel.defaultImage
    {
        width:              100%;
        height:             auto;
    }

    div.sitePanel.verticalSpacer
    {
        width:              100%;
        height:             @default-margin;
    }
