
    body
    {
        background:         #000000;
        margin:             0;
        padding:            0;
        text-align:         center;
        overflow-x:         hidden;
        overflow-y:         hidden;
    }

    div.sitePanel.outerAbsoluteContainer
    {
        position:           absolute;
        border-radius:      5px;
        background:         rgba( 255, 255, 255, 0.25 );
    }

    div.sitePanel.innerRelativeContainer
    {
        position:           relative;
        text-align:         left;
    }

    p.sitePanel.defaultText
    {
        padding:            20px;
        margin:             0;
    }

    div.sitePanel.imageContainer
    {
        padding:            20px;
        margin:             0;
        background:         #fffc9e;
    }

    img.sitePanel.defaultImage
    {
        width:              100%;
        height:             auto;
    }


    /** ANT overrides :( */

    .ant-btn-primary
    {
        background-color:   #ff6666;
        border-color:       #ff6666;
    }

    .ant-btn-primary:hover,
    .ant-btn-primary:focus,
    .ant-btn-primary:active
    {
        background-color:   #ff8a8a;
        border-color:       #ff8a8a;
    }

    .ant-steps-item-process .ant-steps-item-icon
    {
        background:         #ff6666;
        border-color:       #ff6666;
    }

    .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after
    {
        background:         #ff6666;
    }

    .ant-steps-item-finish .ant-steps-item-icon
    {
        border-color:       #ff6666;
    }

    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon
    {
        color:              #ff6666;
    }
