
    body
    {
        background:         #000000;
        margin:             0;
        padding:            0;
        text-align:         center;
        overflow-x:         hidden;
        overflow-y:         hidden;
    }

    div.sitePanel.outerAbsoluteContainer
    {
        position:           absolute;
        border-radius:      5px;
        background:         rgba( 255, 255, 255, 0.25 );
    }

    div.sitePanel.innerRelativeContainer
    {
        position:           relative;
        background:         #c7d9f5;
    }

    p.sitePanel.defaultText
    {
        padding:            20px;
        margin:             0;
    }

    div.sitePanel.imageContainer
    {
        padding:            20px;
        margin:             0;
        background:         #fffc9e;
    }

    img.sitePanel.defaultImage
    {
        width:              100%;
        height:             auto;
    }
